<!DOCTYPE html>
<html ng-app="plunker">

<head>
    <meta charset="utf-8" />
    <title>memory</title>
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
</head>

<body ng-controller="MainCtrl" class="container-fluid">
    <script type="text/ng-template" id="/gomboc.html">
        <div
            style="width:100%; height:100%; background:url({{ item.notinplay ? 'pics/question.png' : item.src }}) center no-repeat; background-size:contain;">
            <div
                ng-show="item.found"
                style="width:100%; height:100%; background:black; opacity:0.5" />
        </div>
    </script>
    <div id="splash" ng-show="splash">
        <button type="button" ng-click="init()"><span>Play</span></button>
    </div>
    <div id="replay" ng-show="replay">
        <button type="button" ng-click="init()"><span>Congrats!\nPlay again?</span></button>
    </div>
    <div id="wrapper">
        <div id="doboz">
            <gomboc ng-repeat="item in items" ng-click="katt(item)"></gomboc>
        </div>
    </div>
</body>

</html>
