#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: url(https://media.giphy.com/media/12SXVd8bmXdSg0/giphy.gif) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#replay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: url(https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3aTlobWtpNzB4Zm1mbnBsZTg5bWtqbnVtaDQyNzh4MDF5OTVxdWQ3bSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/EbMuFvuo6bgt0enjkT/giphy.gif) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

button {
    display: flex;
    align-self: center;
    width: 12vw;
    height: 7vh;
    font-size: 2.5vh;
}

button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrapper {
    height: 90vh;
    max-width: 100vw;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#doboz {
    margin: auto;
    height: 100%;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

gomboc {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    width: calc(100% * (1/4));
    height: calc(100% *(1/4));
    box-sizing: border-box;
    border: 1px solid black;
}

gomboc>div {
    align-self: center;
}
